<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link th:href="@{css/styles.css}" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@300&display=swap" rel="stylesheet">
        <title>Add Sighting</title>
    </head>
    <body>

        <div class="container">
            <nav class="navbar navbar-expand-lg py-2">

                <div class="container-fluid">

                    <a class="navbar-brand px-4" href="/home">H.E.R.O.</a>
                    <!--                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>-->
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <!--                            <li class="nav-item active px-2">
                                                            <a class="nav-link" href="/home">Home</a>
                                                        </li>-->
                            <li class="nav-item dropdown px-2">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    sightings</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/sightings">view sightings</a>
                                    <a class="dropdown-item" href="/addSighting">add a sighting</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown px-2">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    supers</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/supers">view supers</a>
                                    <a class="dropdown-item" href="/addSuper">add a super</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown px-2">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    organizations</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/organizations">view organizations</a>
                                    <a class="dropdown-item" href="/addOrganization">add an organization</a>
                                </div>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" href="/locations">locations</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" href="/superpowers">superpowers</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>

            <h2 class="text-center" id="addSightingHeading">add sighting</h2>

            <div id="addNewSightingDiv">
                <form action="addSighting" method="POST" id="addSightingForm">
                    <div class="col-12 m-1 text-center" 
                         th:if="${!errors.isEmpty()}">
                        <p class="alert alert-danger" th:each="error : ${errors}" 
                           th:text="${error.message}">Error message</p>
                    </div>
                    <div  th:if=${heroes.isEmpty()}>
                        <p class="alert alert-danger">no supers to add for sighting - please add a super</p>
                    </div>
                    <div th:if='${locations.isEmpty()}'>
                        <p class='alert alert-danger'>no Locations to add for sighting - please add a location</p>
                    </div>

                    <div class="form-group row">
                        <label for="date" class="offset-2 col-2">date:</label>
                        <div class="col-8">
                            <input name="date" class="form-control" id="date" type="date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="location" class="offset-2 col-2">location:</label>
                        <div class="col-md-8">
                            <select id="location" name="locationId" class="form-control">
                                <option th:each="location : ${locations}" th:value="${location.locationId}" th:text="${location.locationName}">
                                    Location
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="heroes" class="offset-2 col-2">super:</label>
                        <div class="col-md-8" >
                            <select id="hero" name="heroId" class="form-control">
                                <option th:each="hero : ${heroes}" th:value="${hero.heroId}" th:text="${hero.heroName}">
                                    Super
                                </option>
                            </select>
                        </div>
                    </div>
                    <div th:style="${heroes.isEmpty() || locations.isEmpty()} ? 'display:none'" class="text-center">
                        <button  type="submit" class="btn" id="basicBtn" >
                            add sighting
                        </button>
                    </div>

                </form>
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>