<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link th:href="@{css/styles.css}" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@300&display=swap" rel="stylesheet">
        <title th:text="'edit:' + ${organization.organizationName}">edit Organization</title>
    </head>
    <body>

        <div class="container">
            <nav class="navbar navbar-expand-lg py-2">

                <div class="container-fluid">

                    <a class="navbar-brand px-4" href="/home">H.E.R.O.</a>
                    <!--                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>-->
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <!--                            <li class="nav-item active px-2">
                                                            <a class="nav-link" href="/home">Home</a>
                                                        </li>-->
                            <li class="nav-item dropdown px-2">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    sightings</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/sightings">view sightings</a>
                                    <a class="dropdown-item" href="/addSighting">add a sighting</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown px-2">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    supers</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/supers">view supers</a>
                                    <a class="dropdown-item" href="/addSuper">add a super</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown px-2">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    organizations</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/organizations">view organizations</a>
                                    <a class="dropdown-item" href="/addOrganization">add an organization</a>
                                </div>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" href="/locations">locations</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" href="/superpowers">superpowers</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>

            <h2 class="text-center" id="addSightingHeading">edit organization</h2>

            <form action="editOrganization" method="POST" id="addOrganizationForm">
                <div class="form-group row">
                    <label for="organizationName" class="offset-1 col-2">organization:</label>
                    <div class="col-md-8">
                        <input name="organizationName" class="form-control" id="organizationName" type="text" th:value="${organization.organizationName}">
                        <div th:if="${#fields.hasErrors('organization.organizationName')}">
                            <p th:each="error : ${#fields.errors('organization.organizationName')}" 
                               class="alert alert-danger" th:text="${error}">
                                Bad name </p>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="address" class="offset-1 col-2">address:</label>
                    <div class="col-md-8">
                        <input name="address" class="form-control" id="address" type="text" th:value="${organization.address}">
                        <div th:if="${#fields.hasErrors('organization.address')}">
                            <p th:each="error : ${#fields.errors('organization.address')}" 
                               class="alert alert-danger" th:text="${error}">
                                Bad address </p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="contact" class="offset-1 col-2">contact:</label>
                    <div class="col-md-8">
                        <input name="contact" class="form-control" id="contact" type="text" th:value="${organization.contact}">
                        <div th:if="${#fields.hasErrors('organization.contact')}">
                            <p th:each="error : ${#fields.errors('organization.contact')}" 
                               class="alert alert-danger" th:text="${error}">
                                Bad contact </p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="organizationDescription" class="offset-1 col-2">description:</label>
                    <div class="col-md-8">
                        <input name="organizationDescription" class="form-control" id="organizationDescription" type="text" th:value="${organization.organizationDescription}">
                        <div th:if="${#fields.hasErrors('organization.organizationDescription')}">
                            <p th:each="error : ${#fields.errors('organization.organizationDescription')}" 
                               class="alert alert-danger" th:text="${error}">
                                Bad Description </p>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="organizationId" th:value="${organization.organizationId}"/>
                <div class="text-center">
                    <button type="submit" class="btn" id="basicBtn">
                        ok
                    </button>
                    <a href="#" th:href="@{/organization(id=${organization.organizationId})}"><button type="button" class="btn" id="basicBtn">cancel</button></a>
                </div>

            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>